{
  "check-coverage": true,
  "per-file": false,
  "lines": 0,
  "statements": 0,
  "functions": 0,
  "branches": 0,
  "reporter": [
    "lcov"
  ],
  "exclude": [
    "./dist"
  ],
  "watch": [
    "src/"
  ],
  "report-dir": "./coverage",
  "cache": true
}